@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@font-face {
  font-family: "compote";
  src: url(fonts/compote/OTF/Compote-Free.otf) format("openType");
  font-weight: normal;
}
/* 
a {
  text-decoration: none;
  color: inherit;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  transition: all ease 0.3s;
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border: 2px solid #ddd;
  border-radius: 10px;
}

:root {
  --color-gray-100: #d9d9d9;
  --color-gray-200: #b8b7b7;
  --color-gray-300: #2c2825;
  --color-gold: #facd38;
  --color-white: #fff;
  --color-beige: #ded6c4;

}
