/* body {
  margin: 0;
  line-height: normal;
}
.texturelabs-grunge-288m-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1122px;
  opacity: 0.7;
}
.clips-icon {
  position: absolute;
  top: 129px;
  left: 0;
  width: 1440px;
  height: 928.09px;
}
.ek-sunhera-karvaan {
  margin: 0;
  position: absolute;
  top: 285px;
  left: 271px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 898px;
  text-shadow: 4px 2px 2px rgba(223, 175, 55, 0.25);
}
.home-final-child,
.texturelabs-grunge-288m-2-icon {
  position: absolute;
  top: 964px;
  left: 0;
  width: 1440px;
  height: 1155px;
}
.texturelabs-grunge-288m-2-icon {
  top: 797.29px;
  height: 2339.71px;
  opacity: 0.7;
}
.texturelabs-grunge-288m-3-icon {
  position: absolute;
  top: 3137.04px;
  left: 0.09px;
  width: 1439.91px;
  height: 2339.64px;
  opacity: 0.7;
}
.ek-sunhera-karvaan1,
.lorem-ipsum-dolor {
  margin: 0;
  position: absolute;
  display: flex;
  align-items: center;
}
.ek-sunhera-karvaan1 {
  top: 1267px;
  left: 424px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  justify-content: center;
  width: 898px;
  text-shadow: 4px 2px 2px rgba(223, 175, 55, 0.25);
}
.lorem-ipsum-dolor {
  top: 1637px;
  left: 684px;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: justify;
  width: 625px;
  height: 349px;
}
.events {
  margin: 0;
  position: absolute;
  top: 2087px;
  left: 509px;
  font-size: inherit;
  text-decoration: underline;
  font-weight: 400;
  font-family: inherit;
}
.anuv-jain {
  margin-block-start: 0;
  margin-block-end: 0;
}
.feb-22 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.anuv-jain-10-container1 {
  line-break: anywhere;
  width: 100%;
}
.anuv-jain-10-container,
.anuv-jain-11-container {
  margin: 0;
  position: absolute;
  top: 2441px;
  left: 59px;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 560px;
  height: 373px;
  font-size: var(--font-size-2xl);
}
.anuv-jain-11-container {
  top: 3228px;
  left: 815px;
}
.eventbutton-child {
  position: absolute;
  top: 28px;
  left: 191px;
  border-radius: var(--br-sm);
  background-color: var(--color-gold);
  width: 370px;
  height: 120px;
}
.event-schedule,
.eventbutton {
  position: absolute;
  width: 751px;
  height: 176px;
}
.event-schedule {
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 3887px;
  left: 345px;
}
.vector-icon {
  position: absolute;
  top: 1607.15px;
  left: 12.03px;
  width: 1427.97px;
  height: 5459.35px;
}
.pic1-icon,
.pic2-icon {
  position: absolute;
  top: 2279px;
  left: 524px;
  width: 900px;
  height: 778.89px;
  object-fit: cover;
}
.pic2-icon {
  top: 3025px;
  left: 16px;
}
.menu,
.yuvaan-logo-icon {
  position: absolute;
  top: 11px;
  left: 35px;
  width: 145px;
  height: 118px;
}
.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 49px;
  left: 1307px;
  width: 60px;
  height: 60px;
  background-image: url(./public/icons8hamburgermenu9611@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.home-final {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 7671px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gold);
  font-family: var(--font-compote);
} */
